<div class="row">
	<div class="col-md-9">
		<div id="calendar"></div>
	</div>
	<div class="col-md-3">
	</div>
</div>
<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	lang: 'ja'
        // put your options and callbacks here
    })

});
</script>