<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="Expense Manager" name="description"/>
<meta content="Perdana Adhitama" name="author"/>
  <title>Ngoran</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="favicon.ico"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    jQuery(document).ready(function() {    
    Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
 });
</script>
</head>
<body class="page-header-fixed page-footer-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-sidebar-closed">
	<div class="page-header navbar navbar-fixed-top">
		<!-- BEGIN HEADER INNER -->
		<div class="page-header-inner container">
			<div class="page-header-inner">
				<!-- BEGIN LOGO -->
				<div class="page-logo">
					<a href="index.html">
						
						
					</a>
					<div class="menu-toggler sidebar-toggler"></div>
				</div>
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
				</a>
				<!-- BEGIN PAGE TOP -->
				<div class="page-top">
					
					<!-- BEGIN TOP NAVIGATION MENU -->
					<div class="top-menu">
						<ul class="nav navbar-nav pull-right">
							<!-- BEGIN USER LOGIN DROPDOWN -->
					
							<li class="dropdown dropdown-user">
								<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img alt="" class="img-circle" src=""/>
								<span class="username username-hide-on-mobile">
								Nama User</span>
								<i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-default">
									<li>
										<a href="extra_profile.html">
										<i class="icon-user"></i> Profil saya </a>
									</li>
									
									<li>
										<a href="#">
										
										<i class="icon-key"></i> Log Out </a>
										</a>
									</li>
								</ul>
							</li>
							<!-- END USER LOGIN DROPDOWN -->
						</ul>
					</div>
					<!-- END TOP NAVIGATION MENU -->
				</div>
				<!-- END PAGE TOP -->
			</div>
			
		</div>
		
	</div>
	<div class="clearfix"></div>
	<div class="page-container">
		<div class="page-sidebar-wrapper">
			<div class="page-sidebar navbar-collapse collapse">
				<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu page-sidebar-menu-closed" data-slide-speed="200" data-auto-scroll="true" data-keep-expanded="false">
					<li>
						<a title="Dashboard" name="Dashboard" href="/user/"><i class="icon-home"></i>
                                <span class="title">Dashboard</span>
						</a>								
					</li>
				</ul>
				
			</div>
		</div>
		<div class="page-content-wrapper">
			<%= yield %>
		</div>
	</div>
	<div class="page-footer">
		<div class="page-footer-inner">
			 2016 &copy; Created by: Dana.
		</div>
		<div class="scroll-to-top" style="display: block;">
			<i class="icon-arrow-up"></i>
		</div>
	</div>

</body>
</html>
